<div class="app-outer-container">
  <%- include('../partials/header') %>
  <div class="app-inner-container foods-index-container">
    <h2>Foods Index</h2>
    <th><a href="foods/new">Add New Food</a></th>
    <div class="food-index-table">
      <table class="table table-hover">
        <thead class="thead-dark">
          <th>Name</th>
          <th>Category</th>
          <th>Price</th>
          <th>Description</th>
          <th>Delete</th>
        </thead>
        <tbody>
          <% foods.forEach(food => { %>
          <tr>
            <td><%= food.name %></td>
            <td><%= food.category %></td>
            <td><%= food.price %></td>
            <td><%= food.description %></td>
            <td>
              <form
                action="/foods/<%= food._id %>?_method=DELETE"
                class="delete-form"
                method="POST"
              >
                <button class="btn red" type="submit">X</button>
              </form>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </div>
  <%- include('../partials/footer') %>
</div>
