<div class="app-outer-container">
  <%- include('../partials/header') %>
  <div class="app-inner-container">
    <div class="form-container column">
      <h2>Edit <%= customer.name %>'s Info</h2>
      <form action="/customers/<%=customer._id%>?_method=PUT" method="POST">
        <label>Name:
         <input type="text" name="name" placeholder="" value="<%=customer.name%>">
        </label>
        <label>E-mail:
         <input type="text" name="email" placeholder="" value="<%=customer.email%>">
        </label>
        <label>Phone Number:
         <input type="number" name="phone" placeholder="" value="<%=customer.phone%>">
        </label>
        <label>Address Name:
         <input type="text" name="addressName" placeholder="" value="<%=customer.addressName%>">
        </label>
        <label>Address Type:
          <select class="form-control" name="addressT" placeholder="" value="<%=customer.name%>">
            <option value="Residence">Residence</option>
            <option value="Business">Business</option>
            <option value="Hotel">Hotel</option>
            <option value="School">School</option>
          </select>
        </label>
        <label>Address:
         <input type="text" name="location" placeholder="" value="<%=customer.location%>">
        </label>
        <label>Apt/Suite:
         <input type="text" name="apt" placeholder="" value="<%=customer.apt%>">
        </label>
        <label>City:
         <input type="text" name="city" placeholder="" value="<%=customer.city%>">
        </label>
        <label>State:
         <input type="text" name="state" placeholder="" value="<%=customer.state%>">
        </label>
        <label>Zip Code:
         <input type="number" name="zip" placeholder="" value="<%=customer.zip%>">
        </label>
        <label class="col-12">Delivery Notes:
         <input type="text" name="deliveryNotes" placeholder="" value="<%=customer.deliveryNotes%>">
        </label>
        <div class="button-container">
          <input class="btn btn-primary" type="submit" value="Update Info" />
        </div>
      </form>
    </div>

  </div>
  <%- include('../partials/footer') %>
  </div>
  