<div class="app-outer-container">
    <%- include('../partials/header') %>
    <div class="app-inner-container customer-index-container">
    <h2>Customers Index</h2>
    <div class="customer-container">
        <table class="table table-hover">
            <thead class="thead-dark">
                <th>ID</th>
                <th>Name</th>
                <th>Phone Number</th>
                <th>Sign-Up Date</th>
                <th>Address Nickname</th>
                <th>Address Type</th>
                <th>Address</th>
                <th>Apt</th>
                <th>City</th>
                <th>State</th>
                <th>Zip Code</th>
                <th>Delivery Notes</th>
            </thead>
            <tbody>
                <% customers.forEach(customer => { %>
                    <tr>
                        <td><%= customer._id %></td>
                        <td><%= customer.name %></td>
                        <td><%= customer.phone %></td>
                        <td><%= customer.signUpDate %></td>
                        <td><%= customer.addressName %></td>
                        <td><%= customer.addressT%></td>
                        <td><%= customer.location%></td>
                        <td><%= customer.apt%></td>
                        <td><%= customer.city%></td>
                        <td><%= customer.state%></td>
                        <td><%= customer.zip%></td>
                        <td><%= customer.deliveryNotes%></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>

    </div>
</div>
<%- include('../partials/footer') %>
</div>
